{% extends "fullstack temps/base.html" %}
{% load bootstrap5 %}
{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Edit Entry</h2>

    <!-- Link to the topic page -->
    <p>
    </p>
    
    
    <!-- Form to edit the entry -->
    <form action="{% url 'fullstack:edit_entry' entry.id %}" method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <a href="{% url 'fullstack:topic' topic.id %}" class="btn btn-sm text-dark" style="background-color: #ffc107; border: none; padding: 0.25rem 0.5rem;">Cancel Edition</a>
        <button type="submit" class="btn btn-success btn-sm">Save Changes</button>
        {% endbuttons %}        
     
            </form>
</div>
{% endblock content %}
